@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');


:root{
    --primary-color: #4ccbab;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    p
}

html{
    font-family: 'Roboto mono', monospace;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--primary-color);
    
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    
}

header .icons span{
    color: #fff;
}

nav{
    
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    /* width: 220px; */
    height: 80px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 2fr;
    justify-content: center;
    justify-items: center;
    background-image: url(../assets/img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-title-container{
    display: grid;
    
    align-content: center;
    justify-content: center;
}

main .main-title-container h1{
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Roboto mono', monospace;
}

main .main-button-container button{
    width: 100px;
    height: 40px;
    border: 1px solid white;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 800;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container{
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 85%;
    height: 60%;
}

.blogs-news-info-container{
    grid-column: 2;
}

.blogs-news-info-container p{
    margin-bottom: 35px;
}

.blogs-post-container{
    padding: 0 50px 40px;
}

.blogs-post-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}